*{
    margin: 0;
}

body{
    background: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hidden{
    display: none;
}

video{
    position: absolute;
}

.second{
    z-index: -1;
    top: 10px;
    left: 10px;
    width: 20%;
    height: 20%;
}

.full{
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#pre-room {
    max-width: 640px;
    margin: auto;
}

#in-room {
    width: 100%
}

html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

ul.dropdown-content.select-dropdown li span {
    color: #000; /* no need for !important :) */
}

.no-margin {
    margin: 0;
}

.bottom {
    vertical-align: bottom!important;
}

.robot-name {
    text-align: center;
}

.cmd-btn {

}

.up{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.down{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.btn-floating.btn-large i {
    line-height: 45px!important;
}

.btn-floating.btn-large {
    top: -54px;
}

.front-cross{
    display: inline-block;
    position: relative;
    background: transparent;
    top: -100px;
    left: 116px;
    height: 45px;
    width: 30px;
}

.back-cross{
    display: inline-block;
    position: relative;
    background: transparent;
    top: -34px;
    left: 60px;
    height: 45px;
    width: 30px;
}

.left-cross{
    display: inline-block;
    position: relative;
    background: transparent;
    top: -60px;
    left: -45px;
    height: 30px;
    width: 45px;
}

.right-cross{
    display: inline-block;
    position: relative;
    background: transparent;
    top: -60px;
    left: -40px;
    height: 30px;
    width: 45px;
}

#log{
    width: 100vw;
    height: 0vh;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
    font-family: monospace;
}

#close{
    position: absolute;
    right: 20px;
    top: 10px;
}

.cmd-btn{
    cursor: pointer;
}
